<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.agile0509.mapper.ScoreMapper">
    <select id="getGpaByStudentId" resultType="java.lang.String">
        SELECT score FROM score WHERE studentID = #{studentID}
    </select>
    <select id="getScores" resultType="com.example.agile0509.pojo.Score">
        SELECT * FROM score
    </select>
    <!-- 更新分数 -->
    <update id="updateScoreAndStatus" parameterType="com.example.agile0509.pojo.Score">
        UPDATE score SET score = #{newgpa} , status = #{status} WHERE studentID = #{id}
    </update>

    <insert id="batchInsert" parameterType="list">
        insert into score
        (id, studentID, score)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.studentId},
            #{item.score},
            )
        </foreach>
    </insert>
</mapper>